
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Paytone+One&display=swap') 


/*ESTILOS TIPOGRAFICOS*/


.inter900 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.inter100{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
 
  body{
    background-color: rgb(155, 81, 81);
}

  .inter400 {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, li {
    line-height: 1,6;
  }
figcaption{
    font-size: 6rem;
}
h1, h2, h3, h4, ul, p, figure{
    padding: 1rem;
}
/*COLUMNAS*/
 .columnas{
    columns: 3 400px;
 }

 /*IMAGENES*/
 img{ 
    width: 100%;
    object-fit: cover;
 }
 .clip-me{
    clip-path: circle(50% at 50% 50%);
 }

 .clip-otro{
    width: 50%;
    float: right;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
 }
